body{
    background-color: #08223b;
    color: white;
}

hr{
    border: 1px solid white;
}

form{
    background-color: rgb(118, 205, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 1000px;
    margin: auto;
}